@model PureCareHub_HospitalCare.ViewModels.PatientsListViewModel


<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<partial name="_Notification">

<div class="container-fluid">
    <div class="row">
        <div class="col-2 px-0">
            <partial name="_AdminSidebarPartial" />
        </div>


        <div class="col-10" ">

            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <a href="@Url.Action("List", "Doctor")" class="text-decoration-none">
                            <div class="custom-card doctor-card d-flex flex-column align-items-center">
                                <div class="mt-3">
                                    <h5 class="mb-2"><b>Doctors</b></h5>
                                    <p class="mb-2">Total: @Model.Doctorscount</p>
                                </div>
                                <i class="icon-doctor material-icons" style="font-size: 35px">person</i>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="@Url.Action("List", "Appointment")" class="text-decoration-none">
                            <div class="custom-card appointment-card d-flex flex-column align-items-center">
                                <div class="mt-3">
                                    <h5 class="mb-2"><b>Appointment</b></h5>
                                    <p class="mb-2">Total: @Model.FullAppointmentCount</p>
                                </div>
                                <i class="icon-appointment material-icons" style="font-size: 35px">event</i>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="@Url.Action("Index", "Department")" class="text-decoration-none">
                            <div class="custom-card department-card d-flex flex-column align-items-center">
                                <div class="mt-3">
                                    <h5 class="mb-2"><b>Departments</b></h5>
                                    <p class="mb-2">Total: @Model.DepartmentsCount</p>
                                </div>
                                <i class="icon-department material-icons" style="font-size: 35px">business</i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mt-5">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Users List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
                            <table class="table">
                                <thead class="text-success">
                                    <tr>
                                        <th>Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var patient in Model.Patients)
                                    {
                                        <tr>
                                            <td>@patient.FirstName</td>
                                            <td>@patient.LastName</td>
                                            <td>@((Model.PatientsEmails.TryGetValue(patient.UserId, out var email) && !string.IsNullOrEmpty(email)) ? email : "N/A")</td>
                                            <td>
                                                <a href="" class="edit"><i class="fa fa-pencil" aria-hidden="true" style="font-size:20px;color:lightblue"></i> </a>
                                                <a href="#" class="delete" data-toggle="modal" data-target="#deleteEmployeeModal" data-delete-url="@Url.Action("DeleteUser", "Admin", new { userId = patient.UserId})">
                                                    <i class="fa fa-trash" aria-hidden="true" style="font-size:20px; color:red"></i>
                                                </a>
                                            </td>
                                        </tr>
                                   }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Delete Modal HTML -->
            <div id="deleteEmployeeModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form id="deleteUserForm" method="post">
                            <div class="modal-header">
                                <h4 class="modal-title">Delete Employee</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete these Records?</p>
                                <p class="text-warning"><small>This action cannot be undone.</small></p>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<style>

        /* Custom CSS for styling */
    tbody tr:nth-child(odd) {
        background-color: #f9f9f9; /* Light color for odd rows */
    }

    tbody tr:nth-child(even) {
        background-color: #ffffff; /* White color for even rows */
    }

    .table-responsive {
        overflow-x: auto; /* Enable horizontal scrolling on small screens */
    }

    body {
        background: #eee;
    }

    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
        border-radius:10px;
    }

    .badge {
        padding: 5px 5px;
        font-size: 10px;
        color: lightcyan;
    }

    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: 1rem;
    }

    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 0.2rem 0.2rem;
    }

    .avatar-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #000;
        color: #fff;
        font-weight: 700;
    }

    .avatar {
        margin-top:13px;
        margin-left:5px;
        width: 2rem;
        height: 2rem;
    }

    .rounded-3 {
        border-radius: 0.5rem !important;
    }

    .mb-2 {
        margin-bottom: 0.2rem !important;
    }

    .me-4 {
        margin-right: 1.5rem !important;
    }

    .custom-card {
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 5px;
        margin-top: 35px;
        margin-bottom: 5px;
        text-align: center;
        color: #fff;
    }

    .doctor-card {
        background: linear-gradient(45deg, #c9fcff,white);
        color: #03214a;
    }

    .appointment-card {
        background: linear-gradient(45deg, #f4fff2, #ffffff );
        color: #073000;
    }

    .department-card {
        background: linear-gradient(45deg, #ffeae8, #fffce8);
        color: #331800;
    }


    .edit {
        font-size: 8px;
        margin-right: 20px;
        color: #2196F3;
    }

       .edit:hover {
            color: blue;
        }

</style>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.delete').on('click', function () {
                var deleteUrl = $(this).data('delete-url');
                $('#deleteUserForm').attr('action', deleteUrl);
            });
        });
    </script>
}