@model PureCareHub_HospitalCare.ViewModels.MedicalHistoryViewModel

@{
    var photoPath = $"~/Images/{(!string.IsNullOrEmpty(Model.appointedDoctor.PhotoPath) ? Model.appointedDoctor.PhotoPath : "emanDoc.jpg")}";
    string textColorClass;
}
<div class="container-xl px-4 mt-4">
    <!-- Accou  nt page navigation-->
    <nav class="nav nav-borders">
        @* <h4 style="color:green">@ViewData["PageTitle"]</h4> *@

    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Doctor Information</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    @* <img class="img-account-profile rounded-circle mb-2" src="@Model.assingedDoctor.PhotoPath" alt=""style="width:4rem;height:4rem"> *@

                    @switch (Model.appointedDoctor.DoctorGender)
                    {
                        case Gender.Male:
                            textColorClass = "#59aef0"; // You can change this to your cool bluish color
                            break;
                        case Gender.Female:
                            textColorClass = "#fa89e7"; // You can change this to your purplish color
                            break;
                        default:
                            textColorClass = "#c4c2c4"; // You can change this to your silver color
                            break;
                    }

                    @* <div class="d-flex align-items-center"> *@
                    <div><img src="@photoPath" alt="" class="avatar-mid rounded-circle img-thumbnail" asp-append-version="true" /></div>
                    @* <span class="badge badge-soft-success my-3">@Model.departmentName</span> *@
                    <div class="flex-1 ms-3">
                        <h4 style="font-weight:bold"><a href="#" class="text-dark">Dr @Model.appointedDoctor.FirstName @Model.appointedDoctor.LastName</a></h4>
                        <span class="badge badge-soft-success mb-0">@Model.DepartmentName</span>
                    </div>
                    @* </div> *@
                    <div class="mt-3 pt-1">
                        <p class="text-muted mb-0 mt-2 text-truncate">@Model.appointedDoctor.Email</p>
                        <p class="text-muted mb-0 text-truncate">@Model.appointedDoctor.PhoneNumber</p>
                        <p class=" mb-0 mt-2 text-truncate" style="color:@textColorClass; font-weight:600"><i class="mdi mdi-google-maps font-size-15 align-middle pe-2"></i> @Model.appointedDoctor.DoctorGender</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Appointment Details</div>
                <div class="card-body">
                    <form method="post" role="form" data-aos="fade-up" data-aos-delay="100" asp-action="Success">
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1">First Name</label>
                                <input disabled class="form-control" id="inputUsername" type="text" placeholder="" value="@Model.appointments.patientFirstname">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1">Last Name</label>
                                <input disabled class="form-control" id="inputUsername" type="text" placeholder="" value="@Model.appointments.patientLastName">
                            </div>
                            <!-- Form Group (last name)-->
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1">Phone Number</label>
                                <input disabled class="form-control" id="inputUsername" type="text" placeholder="" value="@Model.appointments.patientContactNumber">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1">Appointment Date</label>
                                <input disabled class="form-control" id="inputUsername" type="text" placeholder=""
                                       value="@Model.appointments.AppointmentDate.ToString("yyyy-MM-dd") @Model.appointments.StartTime.ToString("hh:mm tt")">
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputLocation">Additional Info</label>
                                <textarea disabled class="form-control">@Model.appointments.AdditionalInfo</textarea>
                            </div>
             
                        </div>
                      
                        @if (User.IsInRole("Patient"))
                        {
                            <div class="col-12 mt-3">
                                <a asp-controller="MedicalHistory" asp-action="Index" class="btn btn-outline-secondary float-end me-2">Go back</a>
                            </div>
                        }else
                        {
                            <div class="col-12 mt-3">
                                <a asp-controller="Appointment" asp-action="List" class="btn btn-outline-secondary float-end me-2">Go back</a>
                            </div>
                        }

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card-header {
        font-size: 15px;
        font-weight: 700;
        color: darkseagreen;
    }

    .card {
        margin-bottom: 24px;
        box-shadow: 0 2px 3px #e4e8f0;
    }

    .card {
        /* height: 290px; */
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #eff0f2;
        border-radius: 1rem;
        box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    }

    .avatar-mid {
        height: 7rem;
        width: 7rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .img-thumbnail {
        padding: 0.25rem;
        background-color: #f1f3f7;
        border: 1px solid #eff0f2;
        border-radius: 0.75rem;
    }

    .avatar-title {
        align-items: center;
        background-color: #3b76e1;
        color: #fff;
        display: flex;
        font-weight: 500;
        height: 100%;
        justify-content: center;
        width: 100%;
    }

    .bg-soft-primary {
        background-color: rgba(59,118,225,.25) !important;
    }

    a {
        text-decoration: none !important;
    }

    .badge-soft-danger {
        color: #f56e6e !important;
        background-color: rgba(245,110,110,.1);
    }

    .badge-soft-success {
        color: #63ad6f !important;
        background-color: rgba(99,173,111,.1);
    }

    .badge {
        display: inline-block;
        padding: 0.25em 0.6em;
        font-size: 15px;
        font-weight: 500;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.75rem;
    }

    .text-truncate {
        font-weight: 500;
        font-size: 15px;
    }
</style>