@model Doctor

@{
    ViewBag.Title = "Edit Docto";

    var photoPath = "~/Images/emanDoc.jpg";

    if (Model != null && !string.IsNullOrEmpty(Model.PhotoPath))
    {
        photoPath = $"~/Images/{Model.PhotoPath}";
    }

}
<div class="container-fluid">
    <div class="row">

        <div class="col-2 px-0">
            <partial name="_AdminSidebarPartial" />
        </div>

        <div class="col-10">
            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="ml-5">Edit Doctor</h1>
            </div>


            <div class="wrapper wrapper--w480 custom-background my-4 mx-5">
                <div class="card card-4">
                    <div class="card-body ">
                        <form enctype="multipart/form-data" id="editForm" method="post" asp-action="Edit">
                            <input hidden asp-for="Id" />

                            <div class="row">
                                <div class="col-2 mb-3">
                                    @if (Model != null && !string.IsNullOrEmpty(photoPath))
                                    {
                                        <img src="@Url.Content(photoPath)" alt="user photo" class="avatar-md rounded-circle img-thumbnail" style="width:85px; height:85px" asp-append-version="true" />
                                    }
                                    else
                                    {
                                        <img src="@Url.Content(photoPath)" alt="user photo" class="avatar-md rounded-circle img-thumbnail" asp-append-version="true" />
                                    }
                                </div>

                                <div class="col-5 mt-2">

                                    <div class="form-floating mb-4">
                                        <input asp-for="FirstName" class="form-control" autocomplete="on" aria-required="true" placeholder="First Name" />
                                        <label asp-for="FirstName">First Name</label>
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-5 mt-2">
                                    <div class="form-floating mb-4 ">
                                        <input asp-for="LastName" class="form-control" autocomplete="on" aria-required="true" placeholder="Last Name" />
                                        <label asp-for="LastName">Last Name</label>
                                        <span asp-validation-for="LastName" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-6">
                                    <div class="form-floating mb-4">
                                        <input asp-for="Email" class="form-control" autocomplete="on" aria-required="true" placeholder="name@example.com" />
                                        <label asp-for="Email">Email</label>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-floating mb-3">
                                        <input asp-for="PhoneNumber" class="form-control" autocomplete="on" aria-required="true" placeholder="" />
                                        <label asp-for="PhoneNumber">Phone number</label>
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label asp-for="PhotoPath ">Photo</label>
                                    <div class="mb-3">
                                        <input asp-for="PhotoPath" type="file" class="form-control .custom-file-input .custom-file-label" placeholde="Choose photo" id="photo" name="photo" accept="image/*">
                                    </div>
                                </div>

                                <div class="col-6">
                                    <label asp-for="WorkingShift">Working Shift</label>
                                    <div class="form mb-3">
                                        <select asp-for="WorkingShift" class="form-control">
                                            @foreach (var shift in Enum.GetNames(typeof(ShiftType)))
                                            {
                                                <option value="@shift">@shift</option>
                                            }
                                        </select>
                                        <span asp-validation-for="WorkingShift" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-6">
                                    <label asp-for="DoctorGender">Gender</label>
                                    <div class="form mb-3">
                                        <select asp-for="DoctorGender" class="form-control">
                                            @foreach (var gender in Enum.GetNames(typeof(Gender)))
                                            {
                                                <option value="@gender">@gender</option>
                                            }
                                        </select>
                                        <span asp-validation-for="WorkingShift" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label asp-for="Department">Department</label>
                                    <div class="form mb-5">
                                        <select asp-for="Department" class="form-control">
                                            @foreach (var department in Enum.GetNames(typeof(DepartmentType)))
                                            {
                                                <option value="@department">@department</option>
                                            }
                                        </select>
                                        <span asp-validation-for="WorkingShift" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">

                                <div class="text-center">
                                    <div class="btn-group" style="width: 65%">
                                        <a href="@Url.Action("List", "Doctor")" class="btn btn-secondary mr-5" style="width: 120px">
                                            <i class="bx bx-user me-1"></i> Back
                                        </a>
                                        <button id="deleteSubmit" type="submit" class="btn btn-primary ml-5" style="width: 120px">
                                            Edit
                                        </button>
                                    </div>
                                    <input type="hidden" asp-for="Id" />
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>

</style>