@model PureCareHub_HospitalCare.ViewModels.DoctorEditViewModel

@{
    var photoPath = "~/Images/emanDoc.jpg";

    if (Model != null && !string.IsNullOrEmpty(Model.ExistingPhotoPath))
    {
        photoPath = $"~/Images/{Model.ExistingPhotoPath}";
    }

}
<div class="container-fluid">
    <div class="row">

        <div class="col-2 px-0">
            <partial name="_AdminSidebarPartial" />
        </div>

        <div class="col-10">
            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="ml-5">Edit Doctor</h1>
            </div>


            <div class="wrapper wrapper--w480 custom-background my-4 mx-5">
                <div class="card card-4">
                    <div class="card-body ">
                        <form enctype="multipart/form-data" id="editForm" method="post" asp-action="Edit">
                            <input hidden asp-for="doctor.Id" />
                            <input hidden asp-for="ExistingPhotoPath" />

                            @* <div asp-validation-summary="All" class="text-danger"></div> *@

                            <div class="row">
                                <div class="col-2 mb-3">
                                    @if (Model != null && !string.IsNullOrEmpty(photoPath))
                                    {
                                        <img src="@Url.Content(photoPath)" alt="user photo" class="avatar-md rounded-circle img-thumbnail" style="width:85px; height:85px" asp-append-version="true" />
                                    }
                                    else
                                    {
                                        <img src="@Url.Content(photoPath)" alt="user photo" class="avatar-md rounded-circle img-thumbnail" asp-append-version="true" />
                                    }
                                </div>

                                <div class="col-5 mt-2">

                                    <div class="form-floating mb-4">
                                        <input asp-for="doctor.FirstName" class="form-control" autocomplete="on" aria-required="true" placeholder="First Name" />
                                        <label asp-for="doctor.FirstName">First Name</label>
                                        <span asp-validation-for="doctor.FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-5 mt-2">
                                    <div class="form-floating mb-4 ">
                                        <input asp-for="doctor.LastName" class="form-control" autocomplete="on" aria-required="true" placeholder="Last Name" />
                                        <label asp-for="doctor.LastName">Last Name</label>
                                        <span asp-validation-for="doctor.LastName" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-6">
                                    <div class="form-floating mb-4">
                                        <input asp-for="doctor.Email" class="form-control" autocomplete="on" aria-required="true" placeholder="name@example.com" />
                                        <label asp-for="doctor.Email">Email</label>
                                        <span asp-validation-for="doctor.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-floating mb-3">
                                        <input asp-for="doctor.PhoneNumber" class="form-control" autocomplete="on" aria-required="true" placeholder="" />
                                        <label asp-for="doctor.PhoneNumber">Phone number</label>
                                        <span asp-validation-for="doctor.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label asp-for="doctor.PhotoPath ">Photo</label>
                                    <div class="mb-3">
                                        <input asp-for="doctor.PhotoPath" type="file" class="form-control .custom-file-input .custom-file-label" placeholde="Choose photo" id="photo" name="photo" accept="image/*">
                                    </div>
                                </div>

                                <div class="col-6">
                                    <label asp-for="doctor.WorkingShift">Working Shift</label>
                                    <div class="form mb-3">
                                        <select asp-for="doctor.WorkingShift" class="form-control">
                                            @foreach (var shift in Enum.GetNames(typeof(ShiftType)))
                                            {
                                                <option value="@shift">@shift</option>
                                            }
                                        </select>
                                        <span asp-validation-for="doctor.WorkingShift" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-6">
                                    <label asp-for="doctor.DoctorGender">Gender</label>
                                    <div class="form mb-3">
                                        <select asp-for="doctor.DoctorGender" class="form-control">
                                            @foreach (var gender in Enum.GetNames(typeof(Gender)))
                                            {
                                                <option value="@gender">@gender</option>
                                            }
                                        </select>
                                        <span asp-validation-for="doctor.WorkingShift" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form mb-5">
                                        <label asp-for="SelectedDepartmentId" class="control-label"></label>
                                        <select asp-for="SelectedDepartmentId" class="form-control" asp-items="Model.DepartmentsList"></select>
                                    </div>
                                    <span asp-validation-for="SelectedDepartmentId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row mb-3" style="margin-top:-20px;">
                                <div class="col-12">
                                    <button class="ml-2 mb-2 btn btn-primary" type="button" onclick="showWorkingDays()"><i class="fa fa-calendar" aria-hidden="true" style="font-size:13px"></i> Select Work Days</button>
                                    <div id="workingDaysContainer" style="display: none; display: flex; flex-wrap: wrap; justify-content: space-between;">
                                        <div class="col-4">
                                            <div class="form-check">
                                                <input type="checkbox" name="WorkingDays" value="Monday" id="monday" @(Model.schedules != null && Model.schedules.Any(s => s.DayOfWeek == DayOfWeek.Monday) ? "checked" : "") data-val="true" data-val-required="Please select at least one day." />
                                                <label class="form-check-label" for="monday">Monday</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" name="WorkingDays" value="Thursday" id="thursday" @(Model.schedules != null && Model.schedules.Any(s => s.DayOfWeek == DayOfWeek.Thursday) ? "checked" : "") />
                                                <label class="form-check-label" for="thursday">Thursday</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" name="WorkingDays" value="Sunday" id="sunday" @(Model.schedules != null && Model.schedules.Any(s => s.DayOfWeek == DayOfWeek.Sunday) ? "checked" : "") />
                                                <label class="form-check-label" for="sunday">Sunday</label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-check">
                                                <input type="checkbox" name="WorkingDays" value="Tuesday" id="tuesday" @(Model.schedules.Any(s => s.DayOfWeek == DayOfWeek.Tuesday) ? "checked" : "") data-val="true" data-val-required="Please select at least one day." />
                                                <label class="form-check-label" for="tuesday">Tuesday</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" name="WorkingDays" value="Friday" id="friday" @(Model.schedules.Any(s => s.DayOfWeek == DayOfWeek.Friday) ? "checked" : "") />
                                                <label class="form-check-label" for="friday">Friday</label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-check">
                                                <input type="checkbox" name="WorkingDays" value="Wednesday" id="wednesday" @(Model.schedules.Any(s => s.DayOfWeek == DayOfWeek.Wednesday) ? "checked" : "") data-val="true" data-val-required="Please select at least one day." />
                                                <label class="form-check-label" for="wednesday">Wednesday</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" name="WorkingDays" value="Saturday" id="saturday" @(Model.schedules.Any(s => s.DayOfWeek == DayOfWeek.Saturday) ? "checked" : "") />
                                                <label class="form-check-label" for="saturday">Saturday</label>
                                            </div>
                                        </div>
                                    </div>
                                    <span asp-validation-for="WorkingDays" class="text-danger"></span>
                                </div>
                            </div>

                                <div class="row">
                                    <div class="col-6">
                                        <label asp-for="doctorsSchedule.StartTime">Start Time</label>
                                        <div class="form mb-3">
                                        <input asp-for="doctorsSchedule.StartTime" class="form-control" type="time">
                                        <span asp-validation-for="doctorsSchedule.StartTime" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                    <label asp-for="doctorsSchedule.EndTime">End Time</label>
                                        <div class="form mb-3">
                                        <input asp-for="doctorsSchedule.EndTime" class="form-control" type="time">
                                        <span asp-validation-for="doctorsSchedule.EndTime" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                        
                            <div class="text-center">

                                <div class="text-center">
                                    <div class="btn-group" style="width: 65%">
                                        <a href="@Url.Action("List", "Doctor")" class="btn btn-secondary mr-5" style="width: 120px">
                                            <i class="bx bx-user me-1"></i> Back
                                        </a>
                                        <button id="deleteSubmit" type="submit" class="btn btn-primary ml-5" style="width: 120px">
                                            Edit
                                        </button>
                                    </div>
                                    <input type="hidden" asp-for="doctor.Id" />
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>

</style>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>

    function showWorkingDays() {
        var container = document.getElementById('workingDaysContainer');
        container.style.display = container.style.display === 'none' ? 'flex' : 'none';
    }

</script>