@model List<PureCareHub_HospitalCare.ViewModels.DoctorViewModel>

@{
    ViewBag.Title = "Doctor List";
    string textColorClass = "";
}


<partial name="_Notification">

<div class="container-fluid">
    <div class="row">

        <div class="col-2 px-0">
                <partial name="_AdminSidebarPartial" />
        </div>

        <main class="col-10 ">
            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h3 class="ml-4"><b>Doctor List</b></h3>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                        <a class="btn btn-sm btn-success" asp-area="" asp-controller="Doctor" asp-action="Create">  <i class="fa fa-plus mr-2" aria-hidden="true"></i>Add Doctor</a>
                </div>
            </div>
            <div class="doctor-list-container px-4" style="height: 89vh; overflow-y: auto;">
                <div class="row">
                    @foreach (var doctorViewModel in Model)
                    {
                            var photoPath = $"~/Images/{(!string.IsNullOrEmpty(doctorViewModel.doctor.PhotoPath) ? doctorViewModel.doctor.PhotoPath : "emanDoc.jpg")}";

                        @switch(doctorViewModel.doctor.DoctorGender)
                        {
                            case Gender.Male:
                                textColorClass = "#59aef0"; // You can change this to your cool bluish color
                                break;
                            case Gender.Female:
                                textColorClass = "#fa89e7"; // You can change this to your purplish color
                                break;
                            default:
                                textColorClass = "#c4c2c4"; // You can change this to your silver color
                                break;
                        }

                        <div class="col-xl-3 col-sm-6">
                            <div class="card">
                                <div class="card-body ">
                                    <div class="dropdown float-end">
                                        <a class="text-muted dropdown-toggle font-size-16" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"><i class="bx bx-dots-horizontal-rounded"></i></a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item outline-danger"  href="@Url.Action("Delete", "Doctor", new { docid = doctorViewModel.doctor.Id })">Delete</a>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Remove</a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                            <div><img src="@photoPath" alt="" class="avatar-mid rounded-circle img-thumbnail" asp-append-version="true" /></div>
                                        <div class="flex-1 ms-3">
                                                <h5 class="font-size-16 mb-1"><a href="#" class="text-dark">Dr @doctorViewModel.doctor.FirstName @doctorViewModel.doctor.LastName</a></h5>
                                                <span class="badge badge-soft-success mb-0">@doctorViewModel.DepartmentName</span>
                                                @if (doctorViewModel.doctor.department != null)
                                                {
                                                }
                                                else
                                                {
                                                    <p>No Department Assigned</p>
                                                }
                                        </div>
                                    </div>
                                    <div class="mt-3 pt-1">
                                        <p class="text-muted mb-0 text-truncate"><i class="mdi mdi-phone font-size-15 align-middle pe-2 text-primary"></i>@doctorViewModel.doctor.PhoneNumber</p>
                                        <p class="text-muted mb-0 mt-2 text-truncate"><i class="mdi mdi-email font-size-15 align-middle pe-2 text-primary"></i> @doctorViewModel.doctor.Email</p>
                                        <p class=" mb-0 mt-2 text-truncate" style="color:@textColorClass;font-weight:600"><i class="mdi mdi-google-maps font-size-15 align-middle pe-2"></i> @doctorViewModel.doctor.DoctorGender</p>
                                    </div>
                                    <div class="d-flex gap-2 pt-4">
                                        <a href="@Url.Action("Edit", "Doctor", new { docid = doctorViewModel.doctor.Id })" class="btn btn-primary btn-sm w-50">
                                            <i class="bx bx-user me-1"></i> Edit
                                        </a>
                                        
                                            <a href="@Url.Action("Delete", "Doctor", new { docid = doctorViewModel.doctor.Id })" class="btn btn-danger btn-sm w-50">
                                            <i class="bx bx-user me-1"></i> Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
             </div>
        </main>
    </div>
</div>

<style>

    .card {
        margin-bottom: 24px;
        box-shadow: 0 2px 3px #e4e8f0;
    }

    .card {
        height:290px;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #eff0f2;
        border-radius: 1rem;
        box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    }

    .avatar-mid {
        height: 5rem;
        width: 5rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .img-thumbnail {
        padding: 0.25rem;
        background-color: #f1f3f7;
        border: 1px solid #eff0f2;
        border-radius: 0.75rem;
    }

    .avatar-title {
        align-items: center;
        background-color: #3b76e1;
        color: #fff;
        display: flex;
        font-weight: 500;
        height: 100%;
        justify-content: center;
        width: 100%;
    }

    .bg-soft-primary {
        background-color: rgba(59,118,225,.25) !important;
    }

    a {
        text-decoration: none !important;
    }

    .badge-soft-danger {
        color: #f56e6e !important;
        background-color: rgba(245,110,110,.1);
    }

    .badge-soft-success {
        color: #63ad6f !important;
        background-color: rgba(99,173,111,.1);
    }

    .badge {
        display:inline-block;
        padding:0.25em 0.6em;
        font-size:75%;
        font-weight:500;
        line-height:1;
        color:#fff;
        text-align:center;
        white-space:nowrap;
        vertical-align: baseline;
        border-radius:0.75rem;
   }
</style>
