<partial name="_Notification">

<section id="hero" class="d-flex align-items-center ">
    <div class="ml-5">

    </div>
    <div class="container-fluid hero-container" style="margin-left:150px">
            <h1 style="color:#d9feff">
            @ViewData["Welcome"] <span style="font-weight:bold;color:deepskyblue;font-style:inherit">Pure</span><span style="font-weight:bolder; color:lawngreen;font-style:italic">Care</span>
        </h1>
            <h2>
                <span style="font-weight:bold; color:#f5fff6">  @ViewData["Heropage"] </span>
            </h2>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Patient"))
            {
                <!-- User is logged in as a patient, show "Take an Appointment" -->
                <a asp-area="" asp-controller="Service" asp-action="Index" class="btn-get-started " style="text-decoration: none;">@ViewData["takeAppointment"]</a>
            }
            else
            {
                <!-- User is not logged in or not a patient, show "Get Started" -->
                @* <a href="/Identity/Account/Register" class="btn-get-started " style="text-decoration: none;">Get Started</a> *@
            }
        </div>
</section>

  <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
                    <h1>Why Choose PureCare?</h1>
                    <p>
                        @ViewData["WhyCooseUs"]
                       </p>
                        <ul class="list-unstyled">
                            <li><i class="bi bi-check"></i> @ViewData["ComprehensiveCare"]</li>
                            <li><i class="bi bi-check"></i> @ViewData["MedicalTechnology"]</li>
                            <li><i class="bi bi-check"></i> @ViewData["HealthcareProfessionals"]</li>
                            <li><i class="bi bi-check"></i> @ViewData["PatientCenteredApproach"]</li>
                            <li><i class="bi bi-check"></i> @ViewData["CommitmentToExcellence"]</li>
                        </ul>

              <div class="text-center">
                <a href="#footer" style="text-decoration:none" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>@ViewData["PatientCentricCare_Title"]</h4>
                    <p>@ViewData["PatientCentricCare_Description"]</p>
                   </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                                    <h4>@ViewData["QualityAssurance_Title"]</h4>
                                    <p>@ViewData["QualityAssurance_Description"]</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                                    <h4>@ViewData["DedicatedSupportTeam_Title"]</h4>
                                    <p>@ViewData["DedicatedSupportTeam_Description"]</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
            <a class="mb-4"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3>Providing Exceptional Healthcare Services</h3>
                <p>At PureCare, we are committed to delivering top-notch healthcare services with a focus
                    on your well-being. Learn more about what sets us apart:</p>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a>@ViewData["PatientCentricCare_Title"]</a></h4>
                        <p class="description">@ViewData["PatientCentricCare_Description"].</p>
                </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a>@ViewData["QualityAssurance_Title"]</a></h4>
                        <p class="description">@ViewData["QualityAssurance_Description"]</p>
                </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-atom"></i></div>
                        <h4 class="title"><a>@ViewData["DedicatedSupportTeam_Title"]</a></h4>
                        <p class="description">@ViewData["DedicatedSupportTeam_Description"]</p>
                </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="fas fa-user-md"></i>
              <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter">45</span>
              <p>Doctors</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="far fa-hospital"></i>
              <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter">10</span>
              <p>Departments</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-flask"></i>
              <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter">12</span>
              <p>Research Labs</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-award"></i>
              <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter">35</span>
              <p>Awards</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->


